.App {
  /* text-align: center; */
  font-size: 14px;
}

.border {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
}
td {
  vertical-align: top;
  border: 1px solid black;
  border-collapse: collapse;  
}

.hilited {
  background-color: aqua;
}

